mat-form-field {
  width: 100%;
}

.contenedor-login{
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: 1500px 1000px;
}

.arriba{
  height: 30vh;
}

.col-boton{
  text-align: center;
}

.login-header{
  text-align: center;
}
